.form-crear-usuario {
    border: 2px solid #007bff; 
    border-radius: 10px; 
    background-color: #f8f9fa; 
} 
h2 {
    color: white;
}
.container-crud {
    margin-top: 0;
    padding-top: 0;
}

.form-control {
    border-radius: 0.25rem;
}

.btn {
    border-radius: 0.25rem;
}
.form-crear-sala {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px; 
}

.form-control {
    border-radius: 5px; 
}

.btn {
    border-radius: 5px; 
}
.mensaje {
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-label {
    color: white;
}

.swal-custom {
    color: #000 !important;
}
.swal-title {
    color: #000 !important;
}
.swal-text {
    color: #000 !important;
}
.swal2-popup {
    color: #000 !important;
}